.section {
    display: flex;
    margin: 70px 30px;
    width: 100vw;
}

/* section 왼쪽 */

.section__left {
    box-shadow: 1px 1px 3px grey;        
}

.section__left h3 {
    border-bottom: 1px solid rgb(187, 187, 187);
    padding: 15px;
    font-size: 1.2em;
}

.section__left_img {    
    background-image: url(../img/02.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;    
    width: 800px;
    height: 400px;    
}

/* section 오른쪽 */
.section__right {
    width: 100%;
}

.section__right_items {
    box-shadow: 1px 1px 3px grey;
    width: 90%;    
    font-size: 1.2em;
    position: relative;
    margin-left: 15px;    
    /* word-break: break-all; */
}

.news {
    margin-left: -30px;
    color: rgb(185, 45, 45);
}

.section__right_items li {
    border-bottom: 1px solid rgb(187, 187, 187);
    height: 50px;
    display: flex;
    align-items: center;    
    transition: .6s ease-in-out;
}
.section__right_items li:hover {
    background-color: #9c9898;
}

.section__right_items a,
.section__right_items h3 {
    margin-left: 20px;    
}

.section__right_items p {    
    background-color: var(--main_color);
    width: 20px;
    height: 17px;
    text-align: center;    
    border-radius: 50%;
    font-size: 16px;
    color: white;
    position: absolute;
    right: 20px;
}

@media screen and (max-width: 1700px){
    .section {
        flex-direction: column;
        width: 90%;        
    }
    .section__left_img {
        width: 100%;
    }
    .section__left {
        margin-bottom: 30px;
    }

    .section__right_items {
        margin-left: 0;
        width: 100%;
    }

    .section__right {
        margin-bottom: 30px;
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .section__right_items {
        width: 100%;
    }

    .section__right {
        margin-right: 10px;        
    }
}

